[submodule "UTSVT-KiCadLibraries"]
	path = UTSVT-KiCadLibraries
	url = https://github.com/lhr-solar/UTSVT-KiCadLibraries.git
[submodule "Firmware/Embedded-Sharepoint"]
	path = Firmware/Embedded-Sharepoint
	url = git@github.com:lhr-solar/Embedded-Sharepoint.git
