[submodule "firmware/Embedded-Sharepoint"]
	path = firmware/Embedded-Sharepoint
	url = https://github.com/lhr-solar/Embedded-Sharepoint.git
[submodule "Hardware/HV_Carrier/KiCAD-Sharepoint"]
	path = Hardware/HV_Carrier/KiCAD-Sharepoint
	url = https://github.com/lhr-solar/KiCAD-Sharepoint.git
